*{
    margin: 0;
    padding: 0;
   
}

.relative {
    width: 100%;
    background-color: #FFFFFF;
    position: relative;  
}
.topleft{
    top: 0px;
	left: 0px;
    color: black;
	position: absolute;
	background-color:#66FF33;
    text-align: center;
    padding: 30px 40px;
    transform: translateX(0px) translateY(0px);

}
.topcenter{
    top: 0%;
	left: 880px;
    color: black;
	position: absolute;
	background-color:#66FF33;
    text-align: center;
    padding: 30px 35px;
    transform: translateX(0%) translateY(0%);
  
}
.topright{
    top: 0px;
	right:0px;
    color: black;
	position: absolute;
	background-color:#66FF33;
    text-align: center;
    padding: 30px 35px;
    transform: translateX(0px) translateY(0px)
}
.leftcenter{
    top: 425px;
	left:0px;
    color: black;
	position: absolute;
	background-color:#66FF33;
    text-align: center;
    padding: 30px 32px;
    transform: translateX(0px) translateY(2px);
}
.center{
    top: 425px;
	left:880px;
    color: black;
	position: absolute;
	background-color:#66FF33;
    text-align: center;
    padding: 30px 32px;
    transform: translateX(0px) translateY(2px);
}
.rightcenter{
    top: 425px;
	right:0px;
    color: black;
	position: absolute;
	background-color:#66FF33;
    text-align: center;
    padding: 30px 32px;
    transform: translateX(0px) translateY(2px);
}
.bottomleft{
    top: 850px;
	left:0px;
    color: black;
	position: absolute;
	background-color:#66FF33;
    text-align: center;
    padding: 30px 32px;
    transform: translateX(0px) translateY(2px);

}
.bottomcenter{
    top: 850px;
	left:880px;
    color: black;
	position: absolute;
	background-color:#66FF33;
    text-align: center;
    padding: 30px 32px;
    transform: translateX(0px) translateY(2px);
}
.bottomright{
    top: 850px;
	right:0px;
    color: black;
	position: absolute;
	background-color:#66FF33;
    text-align: center;
    padding: 30px 32px;
    transform: translateX(0px) translateY(2px);

}

.box1 { 
	top: 329px;
	left: 790px;
    color: black;
	position: absolute;
	background-color: red;
    text-align: center;
    padding: 15px 30px;
    transform: translateX(0px) translateY(50px);
}
.box2 { 
	top: 329px;
	right: 769px;
    color: black;
	position: absolute;
	background-color: red;
    text-align: center;
    padding: 15px 30px;
    transform: translateX(0px) translateY(50px);
}
.box3{
    top: 455px;
	right: 769px;
    color: black;
	position: absolute;
	background-color: red;
    text-align: center;
    padding: 15px 30px;
    transform: translateX(0px) translateY(50px);
}
.box4 { 
	top: 455px;
	left: 788px;
    color: black;
	position: absolute;
	background-color: red;
    text-align: center;
    padding: 15px 30px;
    transform: translateX(0px) translateY(50px);
}


