*{
    margin: 0;
    padding: 0;
   
}

.relative {
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    justify-content:space-between;
    
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
   
    
}
.top div {
    background-color: #66FF33;
    border: 1px solid #66FF33;
    padding: 29px 34px;
    margin: 1px;
    margin-bottom: 346px;  
    align-items: flex-start;
}

.box1 { 
	top: 315px;
	left: 760px;
    color: black;
	position: absolute;
	background-color: red;
	width: 45px;
	height: 35px;
    text-align: center;
    padding: 10px 25px;
    transform: translateX(0%) translateY(100%);
}
.box2 { 
	top: 370px;
	right: 879px;
    color: black;
	position: absolute;
	background-color: red;
	width: 45px;
	height: 35px;
    text-align: center;
    padding: 10px 25px;
    transform: translateX(100%) translateY(0%);
}
.box3{
    top: 504px;
	right: 879px;
    color: black;
	position: absolute;
	background-color: red;
	width: 45px;
	height: 35px;
    text-align: center;
    padding: 10px 25px;
    transform: translateX(100%) translateY(0%);
}
.box4 { 
	top: 449px;
	left: 760px;
    color: black;
	position: absolute;
	background-color: red;
	width: 45px;
	height: 35px;
    text-align: center;
    padding: 10px 25px;
    transform: translateX(0%) translateY(100%);
}



