h1 {
    color: #A0522D;
    text-align: center;
   
}

.z {
    background-color:  #ADD8E6;
}

.c {
    display: inline-block;
    width: 25%;
    margin-bottom: 10px;
    font-size: 20px;
    vertical-align: middle;
    color: black;
   
}

.b {
    display: inline-block;
    width: 25%;
    margin-bottom: 10px;
    font-size: 20px;
    vertical-align: middle;
    color: black;
   
}

.y {
    font-size: 0;
}

