* {
    box-sizing: border-box;
}

h1 {
    color: #008000;
    text-align: center;
}

.background {

    width: 673px;
    font-size: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #90EE90;
    border: 1px solid #006400;

}

.fullname {
    width: 38%;
    height: 25px;
    padding: 2px;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #006400;
    border-bottom: 1px solid #006400;
    color: #008000;
}

.name-label {
    width: 62%;
    height: 25px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #006400;
}
.address {
    width: 38%;
    height: 25px;
    padding: 2px;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #006400;
    border-bottom: 1px solid #006400;
    color: #008000;
}

.address-label {

    width: 62%;
    height: 25px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #006400;

}

.phone-number {
    width: 38%;
    height: 25px;
    padding: 2px;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #006400;
    border-bottom: 1px solid #006400;
    color: #008000;

}

.phone-label {
    width: 62%;
    height: 25px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #006400;

}

.gender {
    width: 38%;
    height: 25px;
    padding: 1px;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #006400;
    border-bottom: 1px solid #006400;
    color: #008000;
}

.gender-label {
    width: 62%;
    height: 25px;
    padding: 2px;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #006400;

}

.job {
    width: 38%;
    height: 25px;
    padding: 1px;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #006400;
    border-bottom: 1px solid #006400;
    color: #008000;

}

.job-label {
    width: 62%;
    height: 25px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #006400;

}

.chooseproduct {
    width: 38%;
    height: 66px;
    padding: 1px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #006400;
    border-bottom: 1px solid #006400;
    color: #008000;


}

.product-label {
    display: inline-block;
    width: 62%;
    height: 66px;
    padding: 2px;
    font-size: 16px;
    vertical-align: middle;
    border-bottom: 1px solid #006400;
    line-height: 12px;



}

table {
    width: 30%;

}

table,
td {

    border: 1px solid black;
    border-collapse: collapse;

}

.join {
    width: 38%;
    height: 25px;
    padding: 1px;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #006400;
    border-bottom: 1px solid #006400;
    color: #008000;

}

.join-label {
    width: 62%;
    height: 25px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #006400;
}

.confirm {
    padding: 1px;
    text-align: center;
    border-bottom: 1px solid #006400;

}

.done {
    text-align: center;
    font-size: 16px;
    color: #FF00FF;
}
.name-label input {
    width: 89%;
    height: 100%;
    display: block;

}
.address-label input{
    width: 70%;
    height: 100%;
    display: block;
}
.phone-label input{
    width: 50%;
    height: 100%;
    display: block;

}
.join-label input{
    width: 24%;
    height: 100%;
    display: block;

}