* {
    box-sizing: border-box;
}

h1 {
    color: #008000;
    text-align: center;
}

.background {

    width: 673px;
    font-size: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #90EE90;
    border: 1px solid #006400;

}

.tables {
    width: 38%;
    height: 25px;
    padding: 2px;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #006400;
    border-bottom: 1px solid #006400;
    color: #008000;
}
.tabless {
    width: 38%;
    height: 80px;
    padding: 2px;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #006400;
    border-bottom: 1px solid #006400;
    color: #008000;
}

.label {
    width: 62%;
    height: 25px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #006400;
    font-size: 16px;
}
.labelq {
    width: 62%;
    height: 25px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #006400;
    font-size: 16px;
}
.labelq input{
    width: 89%;
    height: 100%;
    display: block;
}
.labelqq {
    width: 62%;
    height: 25px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #006400;
    font-size: 16px;
}
.labelqq input{
    width: 70%;
    height: 100%;
    display: block;;
}
.labelqqq {
    width: 62%;
    height: 25px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #006400;
    font-size: 16px;
}
.labelqqq input{
    width: 50%;
    height: 100%;
    display: block;
}

.labelx {
   
    display: inline-block;
    width: 62%;
    height: 80px;
    padding: 2px;
    font-size: 16px;
    vertical-align: middle;
    border-bottom: 1px solid #006400;
    line-height: 14px;
    
}
.confirm {
    padding: 1px;
    text-align: center;
    border-bottom: 1px solid #006400;

}

.done {
    text-align: center;
    font-size: 16px;
    color: #FF00FF;
}

