
.container {
    width: 1000px;
    background-color: white;
    cursor: pointer;
}

[class*="box-"] {
    background-color: yellow;
    width:150px;
    height:150px;
    position:relative;
    line-height: 40px;
}
.box-1 .line{
    width:0;
    height:10px;
    background-color: red;
    bottom:0;
    position:absolute;
    transition-property: width;
    transition-duration: 1s;

}
.box-1:hover .line{
    width:100%;
}


.box-2::before{
    content:'';
    background-color:red;
    height:5px;
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    right:100%;
    transition: right 1s;

}
.box-2:hover::before{
    right:0;

}

.box-3::before{
    content:'';
    background-color:red;
    height:0px;
    display:block;
    position:absolute;
    top:0;
    left:0%;
    width:5px;
    transition: height 1s;
}
.box-3:hover::before{
    height:100%;
}

.box-4:hover::before, .box-4:hover::after {
    width:100%;
}
.box-4::before, .box-4::after {
    content:'';
    background-color:red;
    position:absolute;
    height:5px;
    width:0%;
    transition: width 1s;
}

.box-4::before{  
    top:0;
    left:0;
}

.box-4::after{
    bottom:0;
    right:0; 
}
.box-5::before, .box-5::after{
    content:'';
    background-color:red;
    position:absolute;
    height:5px;
    left:50%;
    right:50%;
    transition: left 1s, right 1s;
}
.box-5::before{
    top:0;
}
.box-5::after{
    bottom:0;
}
.box-5:hover::before, .box-5:hover::after {
   left:0;
   right:0;
}
.box-5 p::before, .box-5 p::after{
    content:'';
    background-color:red;
    position:absolute;
    width:5px;
    top:50%;
    bottom:50%;
    transition: all 1s;
}
.box-5 p::before{
    left:0;
}
.box-5 p::after{
    right:0;
}
.box-5:hover p::before, .box-5:hover p::after {
    top:0;
    bottom:0;
}
.box-6::before{
    content:'';
    position:absolute;
    top:0;
    bottom:0;
    left:50%;
    right:50%;
    transition: all 1s;
    border-top:5px solid red;
    border-bottom:5px solid red;

}
.box-6::after{
    content:'';
    position:absolute;
    left:0%;
    right:0%;
    top:50%;
    bottom:50%;
    transition: all 1s;
    border-left: 5px solid red;
    border-right:5px solid red;
}
.box-6:hover::before{
    left:0;
    right:0;
}
.box-6:hover::after{
    top:0;
    bottom:0;
}